<div class="row">
    <div class="col-md-4">
        <div class="card" *ngIf="topic" style="position:relative">

            <div class="card-body">
                <div class="form-group form-group--select">
                    <label>Status</label>
                    <div class="select">
                        <select id="t_topic_status" (change)="changeStatus($event)" class="form-control">
                            <option [value]="i" [selected]="topic.status==item.order" *ngFor="let item of statuses;let i=index;">{{item.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group form-group--select">
                    <label>Assigned To</label>
                    <div class="select">
                            <select id="t_topic_assign" class="form-control" (ngModelChange)="onChangeAssigned($event)" [(ngModel)]="topic.assigned_to">
                                <option *ngFor="let item of members;let i=index;" [ngValue]="item.id">
                                    {{item.full_name_display}}
                                </option>
                                <!-- <option *ngIf="post.assigned_to">{{post.assigned_to_extra_info.full_name_display | titlecase}}</option> -->
                            </select>
                            <!-- <option value="none" *ngIf="!topic.assigned_to">None</option>
              <option *ngIf="topic.assigned_to">{{topic.assigned_to_extra_info.full_name_display}}</option> -->
                    </div>
                </div>

                <div class="widget-signups__list">
                    <topic-watchers></topic-watchers>
                </div>

                <div class="widget-signups__list">
                    <div class="row">
                        <div class="col-md-8 col-sm-8"></div>
                        <div class="col-md-12 col-sm-4 col-lg-12">
                            <button class="btn btn-primary watchBtn" (click)="watchTopic()"
                                *ngIf="!topic.is_watcher">Watch</button>
                            <button class="btn btn-primary watchBtn" (click)="watchTopic()"
                                *ngIf="topic.is_watcher">Unwatch</button>
                        </div>
                    </div>
                </div>
            </div>
            <spinner [showSpinner]="uiState.http.watch"></spinner>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card" *ngIf="topic" style="position:relative;">
            <div class="card-header" style="padding:10px">
                <button (click)="deleteTopic(topic)" class="btn btn-light pull-right btn--icon" style="float:right;">
                    <i class="zmdi zmdi-delete"></i>
                </button>
                <div class="clearfix"></div>

            </div>
            <div class="card-body" style="padding:20px">
                <app-create-topic [date]="date" [time]="time"></app-create-topic>
                <!-- <hr> -->
                <ng-container *ngIf="topic?.topicPosts?.length">
                    <h4 style="margin: 25px 10px;">Posts
                        <span (click)="eventsService.openPostSubject.next(null)"
                            style="float: right;font-size: 30px;cursor: pointer;" class="zmdi zmdi-plus-circle"></span>
                    </h4>
                    <div class="card" *ngFor="let post of topic.topicPosts">
                        <div style="padding:10px;box-shadow: 1px 1px 1px 0px;" class="card-body">
                            <h4 style="margin-top: 20px;" class="card-title">
                                <div class="row">
                                    <div class="col-md-8">
                                        {{post.title}}
                                    </div>
                                    <div class="col-md-4">
                                        <span style="float: right;" class="badge badge-pill badge-warning"
                                            *ngFor="let tag of post.tags;">{{tag}}</span>
                                    </div>
                                </div>

                            </h4>
                            <h6 class="card-subtitle">
                                <div class="row">
                                    <div class="col-md-5">
                                        Publish Date: {{post.publish_date | date:'longDate'}}
                                    </div>
                                    <div class="col-md-7">
                                        <span style="float: right;">Status - {{post.status_extra_info.name}}</span>
                                    </div>
                                </div>
                            </h6>

                        </div>

                        <div class="actions">
                            <div dropdown>
                                <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                                <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" (click)="editPost(post.ref)">Edit</a>
                                    <a class="dropdown-item" (click)="deletePost(post)">Delete</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </ng-container>

            </div>
            <spinner [showSpinner]="uiState?.http.topic"></spinner>
        </div>
    </div>
</div>