<div class="card" *ngFor="let role of template?.roles">
    <div class="card-header">
        <h4 class="card-title text-center">{{role.name}}</h4>
    </div>
    <div class="card-body">
        <div class="table">
            <table class="table-responsive" style="margin: auto;">
                <tr>
                    <th style="width: 300px;">Type</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Modify</th>
                    <th>Comment</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <td style="width: 300px;">
                        Posts
                    </td>
                    <td>
                        {{role.permissions | json}}
                        <input type="checkbox" [(ngModel)]="role.permissions['view_us']">
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="role.permissions['add_us']">
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="role.permissions['modify_us']">
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="role.permissions['comment_us']">
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="role.permissions['delete_us']">
                    </td>
                </tr>
                <tr>
                    <td style="width: 300px;">
                        Topics
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="role.permissions['delete_epic']">
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="role.permissions['delete_epic']">
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="role.permissions['delete_epic']">
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="role.permissions['delete_epic']">
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="role.permissions['delete_epic']">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>