.kanban-board {
    // padding: 15px;
    overflow: auto;
    // width: 120%;
}

.kanban-scroll {
    width: 2000px;
    // height: 100vh;
}

// .section.content {
//     background-color: blanchedalmond;
// }

/* Some Sass variables */

// Layout
$appbar-height: 40px;
$navbar-height: 50px;
$list-width: 300px;
$gap: 10px;
$scrollbar-thickness: 17px;
$list-header-height: 36px;
$list-footer-height: 36px;
// Misc
$list-border-radius: 5px;
$card-border-radius: 3px;
// Colors
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-color: #fff;
body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.3em;
}

.ui {
    height: 90vh;
    display: grid;
    grid-template-rows: $appbar-height $navbar-height 1fr;
    //grid-template-columns: 100%;
    // background-color: #e6d592;
    color: #eee;
}

.navbar {
    padding-left: $gap;
    display: flex;
    align-items: center;
    &.app {
        background-color: $appbar-bg-color;
        font-size: 1.5rem;
    }
    &.board {
        font-size: 1.1rem;
    }
}

.lists {
    display: flex;
    overflow-x: auto;
    //width: 100%; // This is needed for FF < 54
    >* {
        background-color: transparent;
        flex: 0 0 auto; // 'rigid' lists
        margin-left: $gap;
    }
    &::after {
        content: '';
        flex: 0 0 $gap;
    }
}

.list {
    width: $list-width;
    height: calc(100% - #{$gap} - #{$scrollbar-thickness});
    >* {
        background-color: transparent;
        // background-color: $list-bg-color;
        color: #333;
        padding: 0 $gap;
    }
    header {
        line-height: $list-header-height;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: $list-border-radius;
        border-top-right-radius: $list-border-radius;
    }
    footer {
        line-height: $list-footer-height;
        border-bottom-left-radius: $list-border-radius;
        border-bottom-right-radius: $list-border-radius;
        color: #888;
    }
    ul {
        background-color: transparent;
        list-style: none;
        margin: 0;
        max-height: calc(100% - #{$list-header-height} - #{$list-footer-height});
        overflow-y: auto;
        li {
            background-color: #fff;
            padding: $gap;
            &:not(:last-child) {
                margin-bottom: $gap;
            }
            border-radius: $card-border-radius;
            box-shadow: 0 1px 1px rgba(1, 6, 11, 0.4);
            img {
                display: block;
                width: calc(100% + 2 * #{$gap});
                margin: -$gap 0 $gap (-$gap);
                border-top-left-radius: $card-border-radius;
                border-top-right-radius: $card-border-radius;
            }
        }
    }
}