<form autocomplete="off">
    <div class="form-group">
        <input id="t_member_username" [ngModelOptions]="{standalone:true}" [(ngModel)]="username" type="text" class="form-control" placeholder="Username">
        <i class="form-group__bar"></i>
    </div>
</form>
<div class="form-group form-group--select">
    <div class="select">
        <select id="t_member_role" [(ngModel)]="role" class="form-control">
        <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>

      </select>
    </div>
</div>
<button id="t_send_invitation" type="button" class="btn btn-primary" style="width: 100%;" (click)="addMember()">Send Invitation </button>