<header class="header">
    <navigation-trigger></navigation-trigger>

    <div class="header__logo">
        <h1 style="position: relative;width: 115px;">
            <a [routerLink]="['']"> <img style="width:28px;" [src]="images.navLogo" class="img-responsive"> Calendarly <a class="beta" tourAnchor="tour.1">Beta</a> </a>
        </h1>
    </div>
    <header-search #search class="toggled" [class.toggled]="showSearch"></header-search>
    <ul class="top-nav">
        <li class="d-xl-none"><a (click)="toggleSearch()"><i class="zmdi zmdi-search"></i></a></li>
        <!-- <li dropdown>
            <a dropdownToggle><i class="zmdi zmdi-email"></i></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                <div class="listview listview--hover">
                    <div class="listview__header">
                        Messages
                        <div class="actions">
                            <a class="actions__item zmdi zmdi-plus"></a>
                        </div>
                    </div>
                    <a *ngFor="let message of messagesData" class="listview__item">
                        <img [src]="message.image" class="listview__img" alt="">

                        <div class="listview__content">
                            <h3 class="listview__heading">
                                {{ message.name }}
                                <small>{{ message.date }}</small>
                            </h3>
                            <p>{{ message.message }}</p>
                        </div>
                    </a>

                    <a class="view-more">See All Messages</a>
                </div>
            </div>
        </li> -->

        <li dropdown #drpdwn="bs-dropdown" [isOpen]="showTour" [autoClose]="!showTour">
            <a dropdownToggle><i id="t_plus" class="zmdi zmdi-collection-plus"></i></a>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                <div class="row app-shortcuts">
                    <a id="t_create_post" tourAnchor="tour.5" class="col-4 app-shortcuts__item" (click)="eventsService.openPostSubject.next();gotonext();">
                        <i class="zmdi zmdi-calendar bg-blue"></i>
                        <small class="">Create Post</small>
                    </a>
                    <a id="t_create_topic" tourAnchor="tour.3" class="col-4 app-shortcuts__item" (click)="eventsService.openTopic.next();gotonext();">
                        <i class="zmdi zmdi-file-text bg-blue"></i>
                        <small class="">Create Topic</small>
                    </a>
                    <a id="t_add_member" class="col-4 app-shortcuts__item" (click)="eventsService.openAddMember.next();">
                        <i class="zmdi zmdi-plus-circle bg-blue"></i>
                        <small class="">Add Member</small>
                    </a>

                </div>
            </div>
        </li>
        <li dropdown>
            <a dropdownToggle [ngClass]="{'top-nav__notify':notifications?.length}">
                <i id = "t_notification" class="zmdi zmdi-notifications"></i></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                <div class="listview listview--hover">
                    <div class="listview__header">
                        Notifications

                        <div class="actions">
                            <a class="actions__item zmdi zmdi-check-all" data-ma-action="notifications-clear"></a>
                        </div>
                    </div>
                    <ng-container *ngIf="notifications.length">
                        <a *ngFor="let item of notifications" (click)="readNotification(item)" class="listview__item">
                            <img [src]="user.photo" class="listview__img" alt="">

                            <div class="listview__content">
                                <h3 class="listview__heading">New {{item.type | titlecase}} Created!</h3>
                                <p>{{ item.body }}</p>
                            </div>
                        </a>
                    </ng-container>
                    <a *ngIf="!notifications.length" class="view-more">No New Notifications</a>
                    <a *ngIf="notifications.length>1" class="view-more">See All Notifications</a>
                </div>
            </div>
        </li>

        <!-- <li dropdown class="d-none d-sm-inline-block">
            <a dropdownToggle=""><i class="zmdi zmdi-more-vert"></i></a>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--icon" role="menu">
                <div class="dropdown-item theme-switch">
                    Theme Switch

                    <div class="btn-group btn-group--colors mt-2 d-block">
                        <label class="btn bg-green" [(ngModel)]="maThemeModel" btnRadio="green" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-blue" [(ngModel)]="maThemeModel" btnRadio="blue" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-red" [(ngModel)]="maThemeModel" btnRadio="red" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-orange" [(ngModel)]="maThemeModel" btnRadio="orange" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-teal" [(ngModel)]="maThemeModel" btnRadio="teal" uncheckable (click)="setTheme()"></label>

                        <br>

                        <label class="btn bg-cyan" [(ngModel)]="maThemeModel" btnRadio="cyan" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-blue-grey" [(ngModel)]="maThemeModel" btnRadio="blue-grey" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-purple" [(ngModel)]="maThemeModel" btnRadio="purple" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-indigo" [(ngModel)]="maThemeModel" btnRadio="indigo" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-lime" [(ngModel)]="maThemeModel" btnRadio="lime" uncheckabl (click)="setTheme()" e></label>
                    </div>
                </div>
                <a class="dropdown-item">Fullscreen</a>
                <a class="dropdown-item">Clear Local Storage</a>
            </div>
        </li> -->
    </ul>
</header>

<!-- <div bsModal #addUserModal="bs-modal" class="modal fade" [config]="{backdrop:false}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Add a member</h5>
            </div>
            <div class="modal-body">
                <app-add-user></app-add-user>
            </div>
        </div>
    </div>
</div>

<div bsModal #createTopic="bs-modal" class="modal fade" [config]="{backdrop:false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Add a Topic</h5>
            </div>
            <div class="modal-body">
                <app-create-topic (exit)="exit('topic')"></app-create-topic>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div bsModal #createPost="bs-modal" class="modal fade" [config]="{backdrop:false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Add a Post</h5>
            </div>
            <div class="modal-body">
                <app-create-post [status]="status" (exit)="exit('post')" [date]="date" [time]="date"></app-create-post>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> -->