<header class="header">
    <div class="header__logo1">
        <h1 style="position: relative;width: 132px;">
            <a [routerLink]="['']" class="a-header"> <img style="width:28px;" [src]="images.navLogo" class="img-responsive"> Calendarly <span class="beta">Beta</span> </a>
        </h1>
    </div>
</header>