#logo {
    display: block;
    margin: auto;
    // margin-bottom: 45px;
}

.signup-btn {
    width: 98% !important;
    margin: auto !important;
}

.login-btn {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    margin: 2%;
}

.card-content {
    padding: 20px;
}

.button-container {
    button {
        width: 185px;
        display: inline-block;
    }
}

@media (max-width: 575.98px) {
    .button-container {
        button {
            width: 47%;
        }
    }
    .logincard {
        width: auto !important;
    }
}

.btn-link {
    width: 43%;
}

.logincard {
    width: 430px;
    min-width: 300px;
}

.left {
    margin: 1%;
    float: left;
}

.right {
    margin: 1%;
    float: right;
}

#loginbtn {
    background-color: #32c787;
    border-color: #32c787;
}

app-page-footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 9;
    left: 0;
}