<app-page-header></app-page-header>
<div class="container" style="margin-top: 0;">
    <div class="row">
        <div class="col-md-12">
            <img id="logo" src="./assets/img/logo.jpg" style="margin-top: 100px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-md-8 col-lg-6">
            <div class="card logincard" style="position:relative;margin:20px auto 100px;">
                <div class="card-content">
                    <form [formGroup]="passwordForm">
                        <div class="form-group">
                            <input type="password" formControlName="password" class="form-control" placeholder="Enter new password">
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group" style="margin-bottom: 12px;">
                            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Re-Enter new password">
                            <i class="form-group__bar"></i>
                        </div>
                        <!-- {{passwordForm.invalid | json}} -->
                        <span style="margin-left: 10px;" class="help-block text-danger" *ngIf="passwordForm.touched&&passwordForm.invalid">** Passwords must be same and atleast 6 character long **</span>
                    </form>
                    <div class="btn-container">
                        <button [disabled]="passwordForm.invalid" class="btn col-sm-6 btn-primary btn--icon-text login-btn" style="margin:auto;" (click)="changePassword()"> Change Password</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-3"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-page-footer></app-page-footer>
        </div>
    </div>
</div>