<div style="position:relative;">
    <form [formGroup]="createPost" (keydown.enter)="$event.preventDefault()" (ngSubmit)="submitForm();ts.end();updatePost()"
        #f="ngForm" autocomplete="off">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label for="disabledTextInput">Title</label>
                    <input id="t_post_title" tooltip="{{createPost.get('title').touched&&createPost.get('title').invalid?'Enter Title of the post':''}}" placement="bottom" [ngClass]="{'is-invalid':createPost.get('title').touched&&createPost.get('title').invalid,'is-valid':createPost.get('title').touched&&createPost.get('title').valid}"
                        formControlName="title" type="text" (keyup)="validateForm.title = false" class="form-control form-control-sm">
                    <i class="form-group__bar"></i>
                    <div *ngIf="validateForm.title" class="text-danger">
                        Title is required.
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-3">
                <div class="form-group" style="top: -3px;">
                    <label for="date">Date</label>
                    <input id="t_post_date" readonly tooltip="{{!date?'Select Date':''}}" name="date" placement="bottom" [ngClass]="{ 'is-invalid': f.submitted && dateVar.invalid }"
                        [(ngModel)]="date" [ngModelOptions]="{standalone: true}" type="text" (ngModelChange)="validateForm.date = false" class="form-control"
                        placeholder="Select Date" bsDatepicker #dateVar="ngModel" required />
                    <div *ngIf="validateForm.date" class="text-danger">
                        Date is required.
                    </div>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-lg-4 col-md-3">
                <div class="form group" (clickOutside)="showTimeDiv = false;">
                    <label for="time">Time</label>
                    <input id="t_post_time" readonly name="time" [ngModelOptions]="{standalone: true}" [(ngModel)]="formattedTime" (click)="showTimeDiv=true;"
                        type="text" class="form-control form-control-sm" #timeVar="ngModel" [ngClass]="{ 'is-invalid': f.submitted && timeVar.invalid }"
                        required>
                    <div *ngIf="validateForm.time" class="text-danger">
                        Time is required.
                    </div>
                    <div class="time-div" *ngIf="showTimeDiv">
                        <timepicker [ngModelOptions]="{standalone: true}" class="timepicker" (ngModelChange)="changeTime($event)"
                            [(ngModel)]="time"></timepicker>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label for="topic">Topics</label>
                    <br>
                    <div #topicspan class="topicspan">
                        <span class="badge badge-pill badge-warning topicBadge" *ngFor="let topic of topics;let i=index;">{{topic.subject}}
                            <span class="zmdi zmdi-close-circle" (click)="removeTopic(i)"></span>
                        </span>
                    </div>
                    <div class="input-group">
                        <div #tagspan class="form-group" style="margin-top: 10px;">
                            <input id="t_topicTag" (typeaheadOnSelect)="addTopic($event.item)" typeaheadOptionField="subject" (ngModelChange)="suggestTopics($event)"
                                [typeahead]="searchObservable" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" [(ngModel)]="topic"
                                [ngModelOptions]="{standalone: true}" value="Topic-1,Topic-2" data-role="tagsinput" type="text"
                                class="form-control form-control-sm">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <i class="form-group__bar"></i>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label for="topic">Tags</label>
                    <br>
                    <div class="tagspan">
                        <span class="badge badge-pill badge-warning topicBadge" *ngFor="let tag of tags;let i=index;">{{tag}}
                            <span class="zmdi zmdi-close-circle" (click)="removeTag(i)"></span>
                        </span>
                    </div>
                    <div class="input-group">
                        <div class="form-group" style="margin-top: 10px;">
                            <input id="t_tag" [(ngModel)]="tag" [ngModelOptions]="{standalone: true}" value="Tag-A,Tag-B" data-role="tagsinput" type="text"
                                class="form-control form-control-sm" (keydown.enter)="addTag(tag)">
                            <i class="form-group__bar"></i>
                        </div>
                        <span placement="bottom" class="input-group-addon plus-btn" (click)="addTag(tag)">
                            <i id="t_add_tag" class="zmdi zmdi-plus-circle"></i>
                        </span>
                    </div>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="topic">Social Profile</label>
                    <br>
                    <span class="badge badge-pill badge-warning topicBadge" *ngFor="let profile of profiles;let i=index;">{{profile}}
                        <span class="zmdi zmdi-close-circle" (click)="removeProfile(i)"></span>
                    </span>
                    <div class="input-group">
                        <div class="form-group" style="margin-top: 10px;">
                            <input [typeahead]="preloadProfiles" (typeaheadOnSelect)="addProfile($event.item)" tooltip="{{createPost.touched&&!profiles.length?'Enter Social Media Profiles':''}}"
                                placement="bottom" [ngClass]="{'is-invalid':createPost.touched&&!profiles.length,'is-valid':createPost.touched&&profiles.length}"
                                id="t_social_profile" [(ngModel)]="profile" [ngModelOptions]="{standalone: true}" value="Facebook-A,Linked-In"
                                data-role="tagsinput" type="text" class="form-control form-control-sm" (keydown.enter)="addProfile(profile)">
                            <i class="form-group__bar"></i>
                        </div>
                        <span class="input-group-addon plus-btn" (click)="addProfile(profile)">
                            <i class="zmdi zmdi-plus-circle plus-btn"></i>
                        </span>
                    </div>
                    <i class="form-group__bar"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="t_editor" class="editor">
                    <quill-editor [style]="{height: '250px'}" [modules]="quillConfig" [ngModelOptions]="{standalone: true}" [(ngModel)]="description"></quill-editor>
                </div>
            </div>
        </div>
    <div class="row" *ngIf="isShow >= 0">
        <div class="col-md-12">
            <post-attachments></post-attachments>
        </div>
    </div>  

    <div class="row">
        <div class="col-md-6 hidden-sm"></div>
        <div class="col-sm-6 col-md-3" *ngIf="!editMode">
            <!-- <button [disabled]="uiState.showTour" class="btn btn-danger waves-effect waves-button submit-btn waves-float"
                (click)="cancel();ts.end();" data-dismiss="modal">Close</button> -->
            <a class="btn btn-danger waves-effect waves-button submit-btn waves-float" (click)="cancel();ts.end();">Close</a>

        </div>
        <div class="col-sm-6 col-md-3" *ngIf="editMode">
            <a (click)="goback()" class="btn btn-danger waves-effect waves-button submit-btn waves-float" (click)="cancel();ts.end();">Cancel</a>

        </div>
            <div class="col-sm-6 col-md-3" *ngIf="!editMode">
                <button type="submit" tourAnchor="tour.6" tooltip="{{createPost.invalid?'Please fill valid details':''}}" placement="bottom"
                    class="btn btn-primary waves-effect waves-button waves-float submit-btn" id="t_save_post">Save</button>
            </div>
            <div class="col-sm-6 col-md-3" *ngIf="editMode">
                <button tooltip="{{createPost.invalid?'Please fill valid details':''}}" placement="bottom" type="submit"
                    (click)="updatePost(f.valid)" class="btn btn-primary waves-effect waves-button waves-float  submit-btn" id="t_update_post">Update</button>
            </div>
    </div>

    </form>
    <spinner [showSpinner]="postData.loading"></spinner>
</div>