<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">Post Statuses</h3>
    </div>
    <div class="card-body">
        <div class="card" *ngFor="let i of project.us_statuses">
            <div class="card-body" style="padding: 10px;">
                <h4 class="card-title">{{i.name}}</h4>
                <div class="actions">
                    <div dropdown>
                        <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                            <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Refresh</a>
                            <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Manage Widgets</a>
                            <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Settings</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">Topic Statuses</h3>
    </div>
    <div class="card-body">
        <div class="card" *ngFor="let i of project.epic_statuses">
            <div class="card-body" style="padding: 10px;">
                <h4 class="card-title">{{i.name}}</h4>
                <div class="actions">
                    <div dropdown>
                        <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                            <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Refresh</a>
                            <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Manage Widgets</a>
                            <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Settings</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>