<app-page-header></app-page-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img id="logo" src="./assets/img/logo-login.png" style="margin-top: 100px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-md-8 col-lg-6">
            <div class="card" style="margin:20px auto 100px;position: relative;">
                <div class="card-content">
                    <form [formGroup]="signupForm">
                        <div class="form-group form-group--float">
                            <input id="t_username" tooltip="{{signupForm.get('username').touched&&signupForm.get('username').invalid?'Enter Username':''}}" placement="bottom"
                                [ngClass]="{'is-invalid':signupForm.get('username').touched&&signupForm.get('username').invalid}"
                                placeholder="Username" formControlName="username" type="text" class="form-control" formControlFloat>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group form-group--float">
                            <input id="t_fullname" tooltip="{{signupForm.get('full_name').touched&&signupForm.get('full_name').invalid?'Enter Full Name':''}}" placement="bottom"
                                [ngClass]="{'is-invalid':signupForm.get('full_name').touched&&signupForm.get('full_name').invalid}"
                                placeholder="Full Name" formControlName="full_name" type="text" class="form-control" formControlFloat>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group form-group--float">
                            <input id="t_email" tooltip="{{signupForm.get('email').touched&&signupForm.get('email').invalid?'Enter Email Address':''}}" placement="bottom"
                                [ngClass]="{'is-invalid':signupForm.get('email').touched&&signupForm.get('email').invalid}" placeholder="Email Address"
                                formControlName="email" type="text" class="form-control" formControlFloat>
                            <i class="form-group__bar"></i>
                        </div>
                        <ng-container formGroupName="password">
                            <div class="form-group form-group--float">
                                <input id="t_password" tooltip="{{signupForm.get('password').touched&&signupForm.get('password').invalid?'Enter Password':''}}" placement="bottom"
                                    [ngClass]="{'is-invalid':signupForm.get('password').touched&&signupForm.get('password').invalid}"
                                    placeholder="Password" formControlName="password" type="password" class="form-control" formControlFloat>
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group form-group--float">
                                <input id="t_confirm_password" tooltip="{{signupForm.get('password').touched&&signupForm.get('password').invalid?'Please confirm password':''}}"
                                    placement="bottom" [ngClass]="{'is-invalid':signupForm.get('password').touched&&signupForm.get('password').invalid}"
                                    placeholder="Confirm Password" formControlName="confirmPassword" type="password" class="form-control"
                                    formControlFloat>
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group text-center">

                                <label class="chkbox custom-control custom-checkbox">
                                    <input id="t_policy" type="checkbox" [(ngModel)]="policy" [ngModelOptions]="{standalone: true}"  class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">I accept the Privacy Policy
                                        <a href="http://www.calendar.ly/privacy-policy" target="_blank">(Show)</a>
                                    </span>
                                </label>
                            </div>
                        </ng-container>
                        <div class="form-group text-center">
                            <label class="chkbox custom-control custom-checkbox">
                                <input id="t_newsletter" type="checkbox" class="custom-control-input" formControlName="subscription">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">I want to receive newsletters with content ideas, news and promotions</span>
                            </label>
                        </div>
                        <div class="button-container">
                            <button id="t_signup" type="submit" class="btn btn-success btn--icon-text login-btn" (click)="submitForm()">Sign Up</button>
                            <button tooltip="Please fill the form" placement="bottom" class="btn btn-success btn--icon-text login-btn" (click)="login()">
                                Already have an account?</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
                <spinner [showSpinner]="uiState?.signup"></spinner>
            </div>
        </div>
        <div class="col-md-2 col-lg-3"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-page-footer></app-page-footer>
        </div>
    </div>
</div>