#logo {
    display: block;
    margin: auto;
    // margin-bottom: 45px;
}

.login-btn {
    margin: auto;
    margin-bottom: 20px;
    display: block;
    color: #32c787;
    width: 88%;
}

.chkbox {
    width: 87%;
    margin: 11px;
}

app-page-footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index: 9;
    left: 0;
}