<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" style="border-radius: 50%;" src-fallback="{{images.fallbackImg}}" [src]="invitation?.invited_by?.photo">
            <h3 class="text-center">{{invitation?.invited_by?.full_name_display | titlecase}} has invited you to join the project</h3>
            <h2 class="text-center">{{invitation.project_name}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-md-8 col-lg-6">
            <div class="card" style="margin:20px auto 100px;position: relative;">
                <div class="card-content">
                    <form [formGroup]="signupForm">
                        <div class="form-group form-group--float">
                            <input tooltip="{{signupForm.get('username').touched&&signupForm.get('username').invalid?'Enter Username':''}}" placement="bottom" [ngClass]="{'is-invalid':signupForm.get('username').touched&&signupForm.get('username').invalid}" placeholder="Username"
                                formControlName="username" type="text" class="form-control" formControlFloat>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group form-group--float">
                            <input tooltip="{{signupForm.get('full_name').touched&&signupForm.get('full_name').invalid?'Enter Full Name':''}}" placement="bottom" [ngClass]="{'is-invalid':signupForm.get('full_name').touched&&signupForm.get('full_name').invalid}" placeholder="Full Name"
                                formControlName="full_name" type="text" class="form-control" formControlFloat>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group form-group--float">
                            <input tooltip="{{signupForm.get('email').touched&&signupForm.get('email').invalid?'Enter Email Address':''}}" placement="bottom" [ngClass]="{'is-invalid':signupForm.get('email').touched&&signupForm.get('email').invalid}" placeholder="Email Address" formControlName="email"
                                type="text" class="form-control" formControlFloat>
                            <i class="form-group__bar"></i>
                        </div>
                        <ng-container formGroupName="password">
                            <div class="form-group form-group--float">
                                <input tooltip="{{signupForm.get('password').touched&&signupForm.get('password').invalid?'Enter Password':''}}" placement="bottom" [ngClass]="{'is-invalid':signupForm.get('password').touched&&signupForm.get('password').invalid}" placeholder="Password"
                                    formControlName="password" type="text" class="form-control" formControlFloat>
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group form-group--float">
                                <input tooltip="{{signupForm.get('password').touched&&signupForm.get('password').invalid?'Please confirm password':''}}" placement="bottom" [ngClass]="{'is-invalid':signupForm.get('password').touched&&signupForm.get('password').invalid}" placeholder="Confirm Password"
                                    formControlName="confirmPassword" type="text" class="form-control" formControlFloat>
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group text-center">

                                <label class="chkbox custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">I accept the Privacy Policy <a href="http://www.calendar.ly/privacy-policy" target="_blank">(Show)</a> </span>
                </label>
                            </div>
                        </ng-container>
                        <div class="form-group text-center">
                            <label class="chkbox custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="subscription" >
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">I want to receive newsletters with content ideas, news and promotions</span>
                          </label>
                        </div>
                        <div class="button-container">
                            <button [disabled]="signupForm.invalid" type="submit" class="btn btn-success btn--icon-text login-btn" (click)="submitForm()">Sign Up</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
                <spinner [showSpinner]="uiState?.signup"></spinner>
            </div>
        </div>
        <div class="col-md-2 col-lg-3"></div>
    </div>
</div>