<form [formGroup]="createTopic" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" [ngClass]="{'is-invalid':createTopic.get('title').invalid,'is-valid':createTopic.get('title').valid}">
                <label for="disabledTextInput">Title</label>
                <input id="t_topic_title" tooltip="{{createTopic.get('title').touched&&createTopic.get('title').invalid?'Enter Title of the post':''}}" placement="bottom" [ngClass]="{'is-invalid':createTopic.get('title').touched&&createTopic.get('title').invalid,'is-valid':createTopic.get('title').touched&&createTopic.get('title').valid}"
                    formControlName="title" type="text" class="form-control form-control-sm">
                <i class="form-group__bar"></i>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="topic">Tags</label><br>
                <span class="badge badge-pill badge-warning topicBadge" *ngFor="let tag of tags;let i=index;">{{tag}}
                    <span id="t_close_topic_tag" class="zmdi zmdi-close-circle" (click)="removeTag(i)"></span>
                </span>
                <div class="input-group">
                    <div class="form-group" style="margin-top: 10px;">
                        <input id="t_topic_tag" [(ngModel)]="tag" [ngModelOptions]="{standalone: true}" value="Tag-A,Tag-B" data-role="tagsinput" type="text" class="form-control form-control-sm" (keyup.enter)="addTag(tag)">
                        <i class="form-group__bar"></i>
                    </div>
                    <span id="t_add_topic_tag" class="input-group-addon plus-btn tagBadge" (click)="addTag(tag)"><i class="zmdi zmdi-plus-circle"></i></span>
                </div>
                <i class="form-group__bar"></i>
            </div>
        </div>
        <div class="col-md-6">
            <color-picker [color]="color" (setColorEvent)="setColor($event)"></color-picker>
        </div>
  
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <div class="editor">
            <quill-editor [style]="{height: '250px'}" [modules]="quillConfig" [(ngModel)]="description"></quill-editor>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a id="t_submit_create_topic" tourAnchor="tour.4" [attr.disabled]="createTopic.invalid?'disabled':null" (click)="submitForm();" class="btn btn-primary waves-effect waves-button waves-float pull-right submit-btn" *ngIf="!editMode">Save</a>
        <button id="t_update_topic" type="button" [disabled]="createTopic.invalid" (click)="updateTopic()" class="btn btn-primary waves-effect waves-button waves-float pull-right submit-btn" *ngIf="editMode">Update</button>
        <button [disabled]="uiState.showTour" (click)="close();" class="btn btn-danger waves-effect waves-button waves-float pull-right submit-btn" id="addEvent">Close</button>
        <div class="clearfix"></div>
    </div>
</div>