<div class="card">
    <div class="card-header">
        <h4 class="card-title text-center">Manage Project Members</h4>
    </div>
    <div class="card-body">
        <div class="table">
            <table class="table-responsive" style="margin: auto;width: 60%;">
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
                <tr *ngFor="let member of project.members">
                    <td style="width: 300px;">
                        {{member.full_name}}
                    </td>
                    <td>
                        <select class="form-control">
                          <option>Product owner</option>
                        </select>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>