<section class="content">
    <header class="content__title">
        <h1>Typeahead</h1>
        <small>Provides a strong foundation for building robust typeaheads.</small>

        <div class="actions">
            <a class="actions__item zmdi zmdi-trending-up" [routerLink]="['/components/typeahead']"></a>
            <a class="actions__item zmdi zmdi-check-all" [routerLink]="['/components/typeahead']"></a>
            <div dropdown>
                <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a [routerLink]="['/components/typeahead']" class="dropdown-item">Refresh</a>
                    <a [routerLink]="['/components/typeahead']" class="dropdown-item">Manage Widgets</a>
                    <a [routerLink]="['/components/typeahead']" class="dropdown-item">Settings</a>
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Static array</h4>
                    <div class="form-group">
                        <input [(ngModel)]="selected" [typeahead]="states" class="form-control" placeholder="Start typing a US state name...">
                        <i class="form-group__bar"></i>
                    </div>

                    <pre>Model: {{selected | json}}</pre>
                </div>
            </div>
        </div>
    </div>
</section>