<app-page-header></app-page-header>
<div bsModal #forgotPasswordModal="bs-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Forgot Password</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="username" placeholder="Enter username or email">
                    <i class="form-group__bar"></i>
                </div>
                <button style="width: 100%;" type="button" [disabled]="!username" class="btn btn-primary" (click)="emailPassword(username)">Email Password</button>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 0;">
    <div class="row">
        <div class="col-md-12">
            <img id="logo" src="./assets/img/logo-login.png" style="margin-top: 100px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-md-8 col-lg-6">
            <div class="card logincard" style="position:relative;margin:20px auto 100px;">
                <div class="card-content">
                    <form [formGroup]="loginForm">
                        <div class="form-group">
                            <input id="t_username" tooltip="{{loginForm.get('username').touched&&loginForm.get('username').invalid?'Enter Username':''}}" [ngClass]="{'is-invalid':loginForm.get('username').touched&&loginForm.get('username').invalid}" formControlName="username" type="text" class="form-control"
                                placeholder="Username">
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group">
                            <input id="t_password" tooltip="{{loginForm.get('password').touched&&loginForm.get('password').invalid?'Enter Password':''}}" [ngClass]="{'is-invalid':loginForm.get('password').touched&&loginForm.get('password').invalid}" formControlName="password" type="password" class="form-control"
                                placeholder="Password">
                            <i class="form-group__bar"></i>
                        </div>

                        <div class="form-group text-center">

                            <label class="custom-control custom-checkbox">
                <input id="t_keep_me_signed_in" type="checkbox" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Keep me logged in</span>
              </label>
                        </div>
                        <div class="button-container">
                            <button id="t_signin" [disabled]="loginForm.invalid" type="submit" (click)="submitForm()" style="float:none;width:98%;display: block;" class="btn col-sm-12 pull-left btn--icon-text btn-success login-btn signup-btn">
                      <i class="zmdi zmdi-refresh"></i>
                      Login
                    </button>
                        </div>
                    </form>
                    <div class="button-container">
                        <button class="btn col-sm-6 btn-success btn-danger pull-right btn--icon-text login-btn right" (click)="createAccount()"> Create an account</button>

                        <button class="btn col-sm-6 btn-info btn-danger pull-left btn--icon-text login-btn left" (click)="forgotPasswordModal.show()">Forgot Password</button>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <spinner [showSpinner]="uiState?.login"></spinner>
            </div>
        </div>
        <div class="col-md-2 col-lg-3"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-page-footer></app-page-footer>
        </div>
    </div>
</div>