@import "../../../assets/scss/inner-imports";
@import "../../../assets/scss/layout";
.tvh-user img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.t-view[data-tv-type="text"]:before,
.t-view[data-tv-type="text"]:after {
    display: none;
}

.nav-icon {
    font-size: 20px;
}

.avatar-img,
.avatar-char {
    margin-right: 0.4rem;
}

.posts-header {
    padding: 0;
    list-style-type: none;
}

// @media only screen and (max-width: 487px) {
//     .uploadBtn {
//         display: block !important;
//         width: 100% !important;
//         margin: auto;
//         margin-bottom: 20px;
//     }
// }
@include media-breakpoint-up(xs) {
    .uploadBtn {
        display: block !important;
        width: 100% !important;
        margin: auto;
        margin-bottom: 20px;
    }
}

.editbtn {
    float: right;
}

.editinput {
    width: 80%;
    display: inline;
}

.nav-link {
    width: 150px !important;
    float: left;
}

.card>.actions,
.card-body .actions {
    top: auto !important;
}

.avatar-img {
    margin-right: 0;
}

.timeline {
    padding-left: 50px;
    padding-top: 0;
}

.unlisted {
    list-style-type: none;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 200px;
}

@media (max-width: 767px) {
    .timeline {
        padding: 20px;
    }
}

.fa-trash {
    font-size: 15px;
}

.btn:not(.btn-link):not(.btn-float):not(.command-edit):not(.command-delete):not(.selectpicker) {
    box-shadow: none;
}

.watchBtn {
    width: 100%;
    margin: 10px 0;
}

.todo__item {
    padding-left: 4.5rem;
    display: block;
    small {
        display: block;
        font-size: 0.95rem;
        margin-top: 0.2rem;
    }
    .custom-control-input {
        &:checked {
            &~.todo__info {
                text-decoration: line-through;
            }
            &~.custom-control--char__helper {
                &>i {
                    background-color: #e9e9e9 !important;
                }
                &:after {
                    color: #5E5E5E;
                }
            }
        }
    }
}

.todo__info {
    &>span {
        color: $headings-color;
    }
    &>small {
        color: $text-muted;
    }
}

.todo__labels {
    &>a {
        color: $amber;
        border: 2px solid lighten($amber, 20%);
        border-radius: $border-radius;
        padding: 0.35rem 0.8rem;
        display: inline-block;
        margin: 0 0.1rem 0.4rem;
        @include transition(color 300ms, border-color 300ms);
        &:hover {
            color: darken($amber, 5%);
        }
    }
}

.assignedto {
    margin-bottom: 1rem;
}