<div class="row">
    <div class="col-md-4">
        <div class="card" *ngIf="post" style="position:relative">
            <div class="card-body">
                <div class="form-group form-group--select">
                    <label>Status</label>
                    <!-- {{status | json}} -->
                    <div class="select">
                        <select (ngModelChange)="changeStatus($event)" class="form-control" [(ngModel)]="post.status">
                            <option [ngValue]="item.id" *ngFor="let item of statuses;let i=index;">{{item.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group assignedto form-group--select">
                    <label>Assigned To</label>
                    <div class="select">
                        <select id="t_assign_post" class="form-control" (ngModelChange)="onChangeAssignedTo($event)" [(ngModel)]="post.assigned_to">
                            <option *ngFor="let item of members;let i=index;" [ngValue]="item.id">{{item.full_name_display}}</option>
                            <!-- <option *ngIf="post.assigned_to">{{post.assigned_to_extra_info.full_name_display | titlecase}}</option> -->
                        </select>
                    </div>
                </div>

                <div class="widget-signups__list">
                    <post-watchers></post-watchers>
                </div>

                <div class="widget-signups__list">
                    <div class="row">
                        <div class="col-md-8 col-sm-8"></div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <button id="t_post_watch" class="btn btn-primary watchBtn" (click)="watchPost()" *ngIf="!post.is_watcher">Watch</button>
                            <button id="t_post_unwatch" class="btn btn-primary watchBtn" (click)="watchPost()" *ngIf="post.is_watcher">Unwatch</button>
                        </div>
                    </div>
                </div>
            </div>
            <spinner [showSpinner]="uiState.http.watch"></spinner>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card" *ngIf="post">
            <div class="card-header" style="padding: 10px;">
                <button (click)="deletePost(post)" class="btn btn-light pull-right btn--icon" style="float:right;">
                    <i class="zmdi zmdi-delete"></i>
                </button>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                <app-create-post [postData]="post" [date]="date" [time]="time" (formUpdated)="updateForm($event)"></app-create-post>
            </div>
        </div>
        <post-comments [post]="post"></post-comments>
    </div>
</div>