<aside class="sidebar" [class.toggled]="sidebarVisible">

    <div class="user" dropdown>

        <div class="user__info" dropdownToggle *ngIf="user">
            <img class="user__img" src-fallback="{{fallbackImg}}" [src]="(user.photo)?user.photo:undefined" alt="">
            <div>
                <div class="user__name">{{user.full_name | titlecase}}</div>
                <div class="user__email">{{user.username}}</div>
            </div>
        </div>

        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item">Edit Profile</a>
            <a class="dropdown-item">Project Settings</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>

    </div>

    <ul class="navigation">
        <li routerLinkActive="navigation__active"><a [routerLink]="['/calendar']"><i class="fa fa-calendar"></i>
                Calendar</a></li>
        <li routerLinkActive="navigation__active"><a [routerLink]="['/kanban']"><i class="fa fa-clipboard"></i> Kanban</a></li>
        <li routerlinkactive="navigation__active"><a (click)="onTourStart()"><i class="fa fa-flag"></i>Take a Tour</a></li>
        <li routerlinkactive="navigation__active"><a [routerLink]="['/settings/payment-plan']"><i class="fa fa-cog"></i>Account Settings</a></li>
    </ul>

</aside>
