<ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.28)" size="medium" color="#5AC788" type="ball-spin" fullScreen="true">
    <p style="color: black"> Loading... </p>
</ngx-spinner>
<router-outlet></router-outlet>
<div class="page-loader page-loader--inner">
    <div class="page-loader__spinner">
        <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
</div>