.body {
    color: #000000;
}

.card>.actions,
.card-body .actions {
    top: auto !important;
}

.editbtn {
    float: right;
    margin: 5px;
    width: 15%;
    margin: 1px 1.5%;
    width: 23%;
    margin-top: 5px;
}

.editinput {
    width: 100%;
    float: left;
}

.view-more {
    color: #000;
}