<div class="card" style="margin-bottom:100px;">
    <div class="card-body">
        <h4 class="card-title">Comments</h4>

        <ng-container>
            <ng-container *ngFor="let comment of comments | toggleView:isViewLess;let i=index;">
                <div class="listview">
                    <div class="listview__item " style="position:relative;">
                        <img src-fallback="{{fallbackImg}}" [src]="comment.user.photo" class="listview__img" alt="">

                        <div class="listview__content">
                            <h3 class="listview__heading">{{comment.user.name | titlecase}}</h3>
                            <p id="t_display_comment" class="body" *ngIf="!comment.isEditMode">{{comment.comment}}</p>
                            <input id="t_input_comment" *ngIf="comment.isEditMode" type="text" class="form-control editinput" [(ngModel)]="comment.comment" placeholder="Post comment">
                            <button id="t_update_comment" *ngIf="comment.isEditMode" type="button" class="btn btn-primary btn-sm editbtn" (click)="editComment(post,comment)">Update</button>
                            <button id="t_delete_comment" *ngIf="comment.isEditMode" type="button" class="btn btn-danger btn-sm editbtn" (click)="hideComment(comment)">Close</button>
                        </div>

                        <div class="actions" *ngIf="comment.user?.pk===user.id">
                            <div dropdown class="actions__item">
                                <i id="t_3dot_toggle" dropdownToggle class="zmdi zmdi-more-vert"></i>
                                <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                    <a id="t_edit_comment" class="dropdown-item" (click)="comment.isEditMode=true;">Edit Comment</a>
                                    <a id="t_delete_comment" class="dropdown-item" (click)="removeComment(comment,i)">Delete Comment</a>
                                </div>
                            </div>
                        </div>
                        <spinner [showSpinner]="comment.loading"></spinner>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <a *ngIf="comments.length>2" (click)="toggleComments()" class="view-more">View {{isViewLess?'More':'Less'}} Comments</a>
        <div class="listview " style="position: relative;">
            <div class="listview__item ">
                <img src-fallback="{{fallbackImg}}" [src]="(user.photo)?user.photo:undefined" class="listview__img" alt="">

                <div class="listview__content">
                    <h3 class="listview__heading">{{user.full_name | titlecase}}</h3>
                    <div class="form-group">
                        <input id="t_input_comment" type="text" class="form-control" [(ngModel)]="commentBody" placeholder="Post comment">
                        <i class="form-group__bar"></i>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8 hidden-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <button id="t_submit_comment" style="margin:10px auto !important;width:100% !important; " class="btn btn-primary pull-right" (click)="submitComment(commentBody)">Post Comment</button>
                </div>
            </div>
            <spinner [showSpinner]="uiState.http.comment"></spinner>
        </div>

    </div>

</div>