<div class="card">
    <div class="card-header">
        <h2 class="card-title">
            Project Details
        </h2>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label> Name</label>
            <input type="text" class="form-control" [(ngModel)]="project.name" placeholder="Enter project name...">
            <i class="form-group__bar"></i>
        </div>
        <div class="form-group">
            <label> Description</label>
            <textarea style="padding-bottom: 0;" class="form-control" [(ngModel)]="project.description" placeholder="Enter Project Description..."></textarea>
            <i class="form-group__bar"></i>
        </div>
        <div class="form-group">
            <label> Project Size</label>
            <h5>{{ project.attachment_size | bytes :2}} space used</h5>
            <h5>XX GB Free</h5>
            <h5>XX GB Total</h5>
        </div>
        <div class="form-group">
            <label>Owner</label>
            <div class="listview">
                <div class="listview__item " style="position:relative;">
                    <img src-fallback="{{images.fallbackImg}}" [src]="project.owner.photo" class="listview__img" alt="">
                    <div class="listview__content">
                        <h3 class="listview__heading">{{project.owner.username | titlecase}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>