<ng-container *ngIf="show">
    <div class="sc-background"></div>
    <div class="sc-center">
        <div class="sc-default-spinner spinner-2">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</ng-container>