<li dropdown style="width:100%;" class="d-none d-sm-inline-block">
    <div class="form-group">
        <label for="topic">Select Color</label>
        <br>
        <div class="input-group" style="margin-top:21px;">
            <div class="form-group" style="margin-top: 10px;">
                <input id="topicTag1" disabled [(ngModel)]="color.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-sm">
                <i class="form-group__bar"></i>
            </div>
            <span [style.backgroundColor]="color.name" class="input-group-addon plus-btn tagBadge" dropdownToggle></span>
        </div>
        <i class="form-group__bar"></i>
    </div>
    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--icon" role="menu">
        <div class="dropdown-item theme-switch">
            Select Color
            <div class="btn-group btn-group--colors mt-2 d-block">
                <button [style.backgroundColor]="color.name" *ngFor="let color of colors;" class="btn colorbtn btn-primary btn--icon-text" type="button" (click)="setColor(color)"> </button>
                <br>
            </div>
        </div>
    </div>
</li>