.colorbtn {
    width: 30px;
    height: 30px;
}

div.dropdown-menu {
    left: 0;
    right: auto;
}

.file-image {
    .c-footer {
        display: none;
    }
    padding: 10px;
}

.modal .modal-body {
    padding-bottom: 60px;
}

.attachmentBtn {
    width: 33%;
}

.danger {
    color: #ea1c0d;
}

bootstrap-tagsinput {
    width: 100%;
}

.has-success .input-group-addon {
    border-color: none !important;
}

#html-editor {
    margin: 20px 0;
}

.bootstrap-tagsinput .tag {
    /* margin-right: 2px; */
    background-color: #D48134;
    // color: #000;
}

.upload-logo {
    width: 100%;
    display: block;
    margin: auto;
}

.eye {
    color: #000000;
    cursor: pointer;
}

.waves-effect {
    width: auto !important;
    display: inline-block !important;
}

.download-group {
    width: 100%;
}

.submit-btn {
    margin-top: 30px;
    margin-right: 10px;
    width: 120px !important;
}

#fileUpload {
    display: none;
}

.upload-btn {
    margin: 10px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.pull-right {
    float: right
}

.pull-left {
    float: left;
}

.upload-btn {
    margin: 20px;
}

.tagBadge,
.topicBadge {
    margin: 0 5px;
}

.plus-btn,
.badge {
    cursor: pointer;
}

span.plus-btn {
    font-size: 18px;
}