<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
    </div>
</div>
<div>
    <main class="main" [attr.data-ma-theme]="maTheme">
        <app-navigation (tourStart)="tourStart($event)"></app-navigation>
        <section class="content">
            <div tourAnchor="tour.2"></div>
            <router-outlet></router-outlet>
        </section>
        <button *ngIf="visibleBackBtn" class="btn btn-warning btn--icon" (click)="goBack()" id="backbtn"><i class="zmdi zmdi-arrow-back"></i></button>
    </main>
</div>
<div class="div-footer">
    <app-footer></app-footer>
</div>
<tour-step-template>
    <ng-template let-step="step">
        <p class="tour-step-content">{{step?.content}}</p>
        <div class="tour-step-navigation" *ngIf="step.hasNavigation">
            <button style="margin: 0 5px;width: 55px;" *ngIf="tourService.hasPrev(step) && step.hasBack" class="btn btn-sm btn-primary waves-effect waves-button waves-float pull-right submit-btn" (click)="tourService.prev()">« {{step?.prevBtnTitle}}</button>
            <button style="margin: 0 5px;width: 55px;" *ngIf="tourService.hasNext(step) && step.hasNext" class="btn btn-sm btn-primary waves-effect waves-button waves-float pull-right submit-btn" (click)="tourService.next()">{{step?.nextBtnTitle}} »</button>
            <button style="margin: 0 5px;width: 55px;" class="btn btn-danger waves-effect waves-button btn-sm waves-float pull-right submit-btnn" *ngIf="step?.isEnd || step?.showEnd" (click)="endTour()">{{step?.endBtnTitle}}</button>
        </div>
    </ng-template>
</tour-step-template>

<div bsModal #addUserModal="bs-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Add a member</h5>
            </div>
            <div class="modal-body">
                <app-add-user></app-add-user>
            </div>
        </div>
    </div>
</div>

<div bsModal #createTopic="bs-modal" class="modal fade" [config]="{ignoreBackdropClick:false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Add a Topic</h5>
            </div>
            <div class="modal-body">
                <app-create-topic (exit)="exit('topic')"></app-create-topic>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div bsModal #createPost="bs-modal" class="modal fade" [config]="{ignoreBackdropClick:false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Add a Post</h5>
            </div>
            <div class="modal-body">
                <app-create-post [status]="status" (exit)="exit('post')" [date]="date" [time]="date"></app-create-post>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>