    .back-btn {
        display: none;
    }
    
    @media (min-width: 1200px) {
        #backbtn {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 76px;
            border-color: #E40A5D;
            left: 21px;
            background-color: #E40A5D;
            z-index: 53 !important;
        }
    }
    
    .div-footer {
        bottom: 0;
        width: 100%;
        position: relative;
        z-index: 9;
        left: 0;
    }
    
    app-header {
        bottom: 0;
        width: 100%;
        position: absolute;
        z-index: 53;
        left: 0;
    }
    
    #backbtn {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 76px;
        border-color: #E40A5D;
        left: 21px;
        background-color: #E40A5D;
        z-index: 20;
    }
    
    section.content {
        padding-bottom: 50px !important;
    }
    
    .main {
        min-height: 100vh;
    }
    
    input,
    textarea {
        color: #000 !important;
    }