<!-- Google Tag Manager -->
<script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'googletagmanager.com/gtm.js?id=' + i + dl + '&gtm_auth=F0Zn8x_LArB3F5hS5SCkGA&gtm_preview=env-6&gtm_cookies_win=x';
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TCLHV5Q');
</script>
<!-- End Google Tag Manager -->
Additionally, paste this code immediately after the opening

<body> tag:
    <!-- Google Tag Manager (noscript) --><noscript><iframe src="googletagmanager.com/ns.html?id=GTM-TCLHV5Q&gtm_auth=F0Zn8x_LArB3F5hS5SCkGA&gtm_preview=env-6&gtm_cookies_win=x" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->