<div class="search" [class.search--focus]="searchFocused">
    <input id="t_search_input" [typeahead]="searchObservable" (typeaheadOnSelect)="selectOption($event)" typeaheadOptionField="subject" [typeaheadOptionsLimit]="5" typeaheadGroupField="type" type="text" (ngModelChange)="searchText($event)" placeholder="Search for people, files, documents..."
        class="search__text" [(ngModel)]="searchValue" (focus)="searchFocused = true" (blur)="closeSearch()">
    <i class="zmdi zmdi-search search__helper" (click)="closeSearch()"></i>
    <!-- <i class="zmdi zmdi-search search__helper__loader" (click)="closeSearch()"></i> -->
</div>