<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">
            Select the plan the better fits your needs and team size. You can always switch between plans anytime.<br>
            If the options don't fit your needs,don't hesitate contact us,
            we will create a custom plan for your team!
        </h3>
    </div>
    <div class="row col-sm-12">
        <div class="plan-selector-option current custom-sm-4" *ngFor="let plan of projectPlanList">
            <div class="your-current-plan" *ngIf="plan.id === projectPlan.id">Your current plan</div>
            <div class="plan-option-header">
                <h4 class="title"><b>{{plan.name}}</b></h4>
            </div>
            <ul>
                <li [ngClass]="{'error':project.user_limit_reached && plan.id === projectPlan.id}"><span>Up to <strong>{{plan.user_limit}}</strong>
                        Users</span>
                </li>

                <li [ngClass]="{'error':project.storage_limit_reached && plan.id === projectPlan.id}">
                    <span>Up to <strong>{{plan.storage_size}}GB</strong></span>
                </li>
                <li>
                    <span><strong>Unlimited</strong> Posts
                    </span>
                </li>
                <li>
                    <span><strong>Unlimited</strong> Topics</span>
                </li>
                <li>
                    <span><strong>Unlimited</strong> Social Profiles</span>
                </li>
            </ul>
            <button class="button-gray" *ngIf="plan.id !== projectPlan.id" style="display:table;margin:0 auto">SELECT PLAN</button>

        </div>

        <div class="plan-selector-option current custom-sm-4">
            <div class="plan-option-header">
                <h4 class="title"><b>Enterprise</b></h4>
            </div>
            <ul>
                <li><span> <strong>10+</strong> Users</span>
                </li>

                <li>
                    <span>Custom Storage Plan</span>
                </li>
                <li>
                    <span><strong>Unlimited</strong> Posts
                    </span>
                </li>
                <li>
                    <span><strong>Unlimited</strong> Topics</span>
                </li>
                <li>
                    <span><strong>Unlimited</strong> Social Profiles</span>
                </li>
            </ul>
            <div style="text-align: center">
                <button class="button-gray " style="display:table;margin:0 auto">CONTACT US</button>
            </div>

        </div>
    </div>
</div>