.plan-selector .plan-selector-body {
    color: #555;
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-pack: justify; */
    justify-content: space-between;
}

.plan-selector .plan-selector-option.current {
    border: 2px solid #767676;
}

.plan-selector .plan-selector-header {
    /* -ms-flex-align: center; */
    align-items: center;
    border-bottom: 1px solid #e4e3e3;
    border-top: 1px solid #e4e3e3;
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-pack: justify; */
    justify-content: space-between;
    margin: 20px 0;
}

* {
    box-sizing: border-box;
}

a, body {
    color: #444;
}

.plan-selector .plan-selector-header .plan-selector-header-title {
    display: none;
}

.plan-selector .plan-selector-header h1 {
    color: #5AC788;
    margin-bottom: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    font-family: OpenSans-Light, Arial, Helvetica, sans-serif;
    /* margin-bottom: 1rem; */
}

/* h3 {
    font-weight: 400;
    line-height: 1.5;
    color: #050505;
} */

.plan-selector .plan-selector-header .text {
    margin: 0;
    padding: 20px 0;
}

h1, p {
    line-height: 1.5;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.button-gray, a.button-gray {
    background: #555;
}

.subscription-your-plan button {
    min-width: 130px;
    text-align: center;
}

button {
    align-items: flex-start;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
}

.custom-sm-4{
    flex: 0 0 33.33333333%;
    max-width: 30%;
    margin-left:10px;
    margin-bottom:10px;
}

.plan-selector-option.current {
    border: 2px solid #767676;
}

.plan-selector-option {
    border: 1px solid #e4e3e3;
    /* display: flex;
    flex: 1 0;
    flex-direction: column; */
    font-size: .8rem;
    justify-content: space-between;
    margin-right: 10px;
    padding: 15px;
    position: relative;
}

.plan-selector-option .your-current-plan {
    align-self: center;
    background: #5AC788;
    color: #fff;
    font-size: .75rem;
    height: 20px;
    padding: 2px;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 50%;
    left: 25%;
}

.title {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #050505;
    text-align: center
}

.plan-selector-option ul li {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
}

.plan-selector .plan-selector-body .plan-option-header img {
    height: 40px;
    width: 40px;
}

.subscription-your-plan .plan-image {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1rem;
}

.plan-selector .plan-selector-body .plan-option-header {
    align-items: center;
    display: flex;
    flex-grow: 0;
}

.plan-selector-option ul {
    flex: 1 0;
}

ul {
    list-style: none;
    /* margin-bottom: 20px;
    flex: 1 0; */
}

.plan-selector-option ul li span {
    padding-left: 10px;
    font-size: 15px;
}

.label {
    font-size: 15px;
}

.plan-selector-option.premium {
    border: 2px solid #5AC788;
}

.plan-selector-option.premium .your-current-plan, .plan-selector-option.premium button:hover {
    background: #5AC788;
}

.plan-selector-option.premium .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 10px;
}

.plan-selector-option.premium .price .price-value {
    font-size: 2em;
}

strong {
    font-weight: 700;
}

.plan-selector-option.premium button {
    background: #5b8200;
    flex: 1 0;
    font-size: 1.5em;
    padding: 15px;
    color: white
}

.plan-selector-option:last-child {
    margin-right: 0;
}

.button-gray:hover {
    background: #5AC788;
    color: #fff;
}

.button-gray {
    font-family: OpenSans-Light, Arial, Helvetica, sans-serif;
    font-size: .9rem;
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: .6rem 2rem;
    text-transform: uppercase;
}

/* body {
    font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: #444;
} */

.plan-selector-header {
    font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: #444;
}

.error {
    color: red;
}