footer {
    // position: fixed;
    background-color: #32c787;
    color: #ffffff;
    padding: 5px;
    bottom: 0;
    width: 100%;
    p {
        text-align: center;
        margin: 0;
        padding-bottom: 5px;
    }
    ul {
        font-size: 12px;
        width: 85%;
        margin: auto;
        // padding-bottom: 10px;
        a {
            width: 14%;
            text-align: center;
            padding-top: 5px;
            color: #ffffff;
            padding: 0;
        }
    }
    @media (max-width: 720px) {
        ul {
            display: none;
        }
    }
}