<footer class="footer hidden-xs-down">
    <p>© Calendarly LTD. All rights reserved.</p>

    <ul class="nav footer__nav">
        <a class="nav-link" target="_blank" href="https://www.calendar.ly">Home</a>
        <a class="nav-link" target="_blank" href="http://blog.calendar.ly">Blog</a>
        <a class="nav-link" target="_blank" href="mailto:calendarly.net+contact@gmail.com">Contact Us</a>
        <a class="nav-link" target="_blank" href="https://www.calendar.ly/privacy">Privacy Policy</a>
        <a class="nav-link" target="_blank" href="https://www.calendar.ly/cookie">Cookie Policy</a>
        <a class="nav-link" target="_blank" href="https://github.com/calendarlyapp/taiga-back">Built using Taiga</a>
    </ul>
</footer>