<div class="card" style="position:relative;">
    <div class="card-header">
        <h2 class="card-title">
            Attach Post
        </h2>
        <h3 class="card-subtitle">Write your post in your favorite word processor or design software and drag it here
            or click below to attach files for your colleagues to provide feedback on.</h3>
    </div>
    <div class="card-body" *ngIf="post.attachments.length">
        <div class="contacts clearfix row">
            <div class="col-md-3 col-sm-6 col-xs-6 " *ngFor="let file of post.attachments;let i=index;">
                <div style="position:relative;">
                    <div class="c-item">
                        <a class="ci-avatar file-image">
                            <img [src]="file.thumbnail_card_url" src-fallback="{{images.fileFallback}}" class="upload-logo"
                                alt="powerpoint">
                            <br>
                            <h6 style="padding:10px;overflow:hidden;height:50px;">{{file.name}}</h6>
                        </a>
                        <div class="c-footer">
                            <div class="btn-group" dropdown>
                                <button (click)="deleteFile(file,i)" type="button" class="btn btn-primary dropdown-toggle-split">
                                    <span class="zmdi zmdi-hc-lg zmdi-delete "></span>
                                </button>
                                <button type="button" class="btn btn-primary dropdown-toggle-split" dropdownToggle>
                                    <span class="zmdi zmdi-hc-lg zmdi-caret-down"></span>
                                </button> <button type="button" class="btn btn-primary dropdown-toggle-split" (click)="copyLink(file)">
                                    <span class="zmdi zmdi-hc-lg zmdi-link"></span>
                                </button>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li><a target="_blank" [href]="file.url" download class="dropdown-item">Download</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <spinner [showSpinner]="file.loading"></spinner>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer">
        <input type="file" multiple id="fileUpload" #uploadFile (change)="selectFiles($event)">
        <div class="row">
            <!-- <div class="col-md-6">
                <button style="margin:10px auto !important;width:100% !important; " type="button" class=" upload-btn btn btn-primary waves-effect waves-button waves-float pull-right">
                          FROM A URL
                      </button>
            </div> -->
            <div class="col-md-6">
                <button id="t_upload_attachment" style="margin:10px auto !important;width:100% !important; " type="button" (click)="uploadFiles()"
                    class="pull-right upload-btn btn btn-primary waves-effect waves-button waves-float pull-right">
                    FROM MY COMPUTER
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <spinner [showSpinner]="uiState?.http.attachments"></spinner>
</div>