.file-image {
    .c-footer {
        display: none;
    }
    padding: 10px;
}

.modal .modal-body {
    padding-bottom: 60px;
}

.attachmentBtn {
    width: 33%;
}

.danger {
    color: #ea1c0d;
}

input {
    padding: 5px;
    margin-bottom: 0;
}

.form-control {
    line-height: 1;
}

bootstrap-tagsinput {
    width: 100%;
}

.has-success .input-group-addon {
    border-color: none !important;
}

#html-editor {
    margin: 20px 0;
}

.bootstrap-tagsinput .tag {
    background-color: #D48134;
}

.topicBadge {
    margin: 2px 3px;
}

.upload-btn {
    width: 100% !important;
    margin: auto;
}

.plus-btn,
.badge {
    cursor: pointer;
}

span.plus-btn {
    font-size: 18px;
}

.upload-logo {
    width: 100%;
    height: 75px;
    display: block;
    margin: auto;
}

.eye {
    color: #000000;
    cursor: pointer;
}

.waves-effect {
    width: auto !important;
    display: inline-block !important;
}

.download-group {
    width: 100%;
}

.submit-btn {
    margin-top: 30px;
    margin-right: 10px;
    display: block !important;
    width: 100% !important;
}

#fileUpload {
    display: none;
}

.upload-btn {
    margin: 10px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.pull-right {
    float: right
}

.pull-left {
    float: left;
}

.upload-btn {
    margin: 20px;
}

.c-item {
    width: 102px;
    // height: 210px;
}

.c-footer {
    // position: absolute;
    // left: 0;
    // bottom: 0;
}