<div class="ui">
    <div class="lists">
        <div class="list" *ngFor="let board of statuses " style="position: relative;">
            <header>
                <div [attr.id]="board.id" class="actions">
                    {{board.name}}
                    <div dropdown style="float: right;">
                        <i dropdownToggle class="actions__item zmdi zmdi-plus-circle"></i>
                        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" (click)="addPost(board.id)">Add a post</a>
                        </div>
                    </div>
                </div>
            </header>
            <ul [dragula]="'board'" class="ul-list">
                <li [dragula]="'board-card'" id="{{item | json}}" *ngFor="let item of board.data" style="height: 50px;position: relative;">
                    <div class="actions">
                        <p class="p-title">{{item.title}}</p>
                        <div dropdown style="position: absolute;right: 0;top: 0;">
                            <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" (click)="editPost(item.ref)">Edit</a>
                                <a class="dropdown-item" (click)="deletePost(item.id)">Delete</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <footer></footer>
            <spinner *ngIf="loading" [showSpinner]="loading"></spinner>
        </div>
    </div>
</div>