<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div style="position: relative;">
                <fullcalendar [date]="date"></fullcalendar>
                <spinner [showSpinner]="uiState?.http.calendar"></spinner>
            </div>
        </div>
    </div>
</div>